header {
    grid-column: 1 / -1; /* Header ocupa toda la fila superior */
}


footer{
    background-color: #9c9ea06d;
    grid-column: 1 / -1;
}

.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, contenido, y Footer */
    grid-template-columns: 220px 1fr; /* Sidebar y contenido principal */
    height: 100vh;
}

.main-content {
    grid-row: 2; /* Contenido central entre Header y Footer */
    grid-column: 2;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff; /* Fondo blanco para el contenido */
}


.sidebar {
    position: relative; /* Cambiado de fixed a relative */
    width: 200px;
    padding-top: 20px;
    height: calc(100vh - 160px); /* Ajuste para que no cubra el footer (56px puede ser el tamaño del footer) */
    float: left; /* Alineamos el sidebar a la izquierda */
    background-color: #495057; /* Color de fondo más claro que el header y footer */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra */
    grid-row: 2; 
    grid-column: 1;
}

.sidebar ul{
    list-style-type: none;
    padding:0
}

.sidebar li{
    margin: 15px 0;
    text-align: center;
    border-bottom: 1px solid #adb5bd; /* Línea de separación */
}

.sidebar a{
    color: #f8f9fa; /* Color de texto claro */
    text-decoration:none;
    font-weight:500;
    display: block; /* Hace que el área clicable sea más grande */
    padding: 10px; /* Espaciado interno para el enlace */
    border-radius: 5px; /* Bordes redondeados en los enlaces */
}

.sidebar a:hover{
    background-color: #343a40; /* Color de fondo en hover */
    border-radius: 5px; /* Bordes redondeados */
}

